<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Wiseman Ramalefane" />
    <meta name="google-site-verification" content="Vd8YCP0AyrqJGQ_aJBX9I7DKwSIxlBneqDdU6dR7_O0" />
    <meta name="robots" content="all,index,follow" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/logo.png" />
    <meta name="googlebot" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Empowerment Ministries International(EMI) is a church based in Bloemfontein led by Pastor Kareli Motsamai and Pastor Thulisiwe Kareli,The church is based at Orajensig 10 Rhodes Avenue." />
    <meta name="keywords" content="emi,EMI,emi church,emi bloem,emi,Pastor Kareli Benjamin,Thulisiwe Kareli,Kareli,ministries,empowerment,empowerment ministry,international ministries,empowerment ministries international,empowerment ministries international bloemfontein,churches in bloemfontein,bloemfontein churches,10 Rhodes Avenue,Oranjesig,homecell,ministry,Rhodes Avenue" />
    <title>@ViewBag.Title - Empowerment Ministries International</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/font-awesome.min.css")
</head>
<body>
 
    <nav class="navbar navbar-expand-lg  navbar-light fixed-top" role="navigation">
        <a class="navbar-brand font-weight-bold" href="@Url.Action("Index","Home")">
  
            <img class="img-fluid" src="~/Images/logo.png" alt="Logo" style="min-height:10px;min-width:10px;height:50px;"/>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    @Html.ActionLink("HOME", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("ABOUT", "About", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("MINISTRIES", "Ministries", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CONNECT
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @Html.ActionLink("HOMECELLS", "Homecells", "Home", null, new { @class = "nav-link" })
                        @Html.ActionLink("G12", "G12", "Home", null, new { @class = "nav-link" })
                    </div>
                </li>
              
                <li class="nav-item">
                    @Html.ActionLink("SERMONS", "Sermons", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("EVENTS", "Events", "Home", null, new { @class = "nav-link" })
                </li>

                <li class="nav-item">
                    @Html.ActionLink("GIVING", "Giving", "Home", null, new { @class = "nav-link" })
                </li>


                <li class="nav-item">
                    @Html.ActionLink("CONTACT US", "Contact", "Home", null, new { @class = "nav-link" })
                </li>

            </ul>

        </div>
    </nav>
        

    <div class="body-content">
        @RenderBody()
        
        <footer class="text-center text-white" style="color:white;padding-top:50px;padding-bottom:50px;background-color:#061C3B" >
         
      
            <div class="container justify-content-center">
                
                <p class="font-weight-bold text-white" style="font-family:'Montserrat'">Empowerment Ministries International</p>
                <p class="text-white font-weight-bold" style="font-family:'Montserrat'">Copyright &copy; 2019 EMI. All Rights Reserved </p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
