@model EMI.Models.ContactUseModel
@{
    ViewBag.Title = "Contact";
}



<div class="jumbotron JumboImage text-center text-white ">
    <div class="container" style="padding-top:50px;padding-bottom:50px;">
        <h1 class="font-weight-bold" style="font-family:'Montserrat';font-size:50pt;">
            Contact Us
        </h1>

        <h6 class="text-white font-weight-light" style="font-family:'Montserrat';font-size:16pt;">
            Empowerment Ministries International admin team is always keen and ready to answer any query.<br /> Please make use of any below mentioned contact method to send your query.
        </h6>
    </div>

   

    <br />
    <div class="row text-center justify-content-center">
        <div class="col-sm-3">
            <i class="fa fa-phone"></i> <b>051 430 2110</b>
        </div>
        <div class="col-sm-3">
            <i class="fa fa-envelope">
            </i> <b>info@emichurch.org.za</b>
        </div>

        <div class="col-sm-3">
            <i class="fa fa-map-marker"></i> <b>10 Rhodes Avenue</b>
        </div>
    </div>
</div>


<div class="container">
    <div class="row" align="center">

        <div class="col-lg-6">
            <h2 class="font-weight-bolder text-secondary" style="font-family:'Montserrat'">
                Message Us
            </h2>
            <p style="font-family:'Montserrat'">
                Write to us your personalised message and we promise to get back to you as soon as possible.Everyone is allowed to write to us irregardless of your race,background or ethnicity just as God who is not selective.Our admin group is waiting for your messages.
            </p>

            <h2 class="font-weight-bold text-secondary" style="font-family:'Montserrat'">
                Empowerment Ministries International
            </h2>
            <p style="font-family:'Montserrat'">
                Transforming People, Building nations and changing the World through the Word.
            </p>

            <h2 class="font-weight-bold text-secondary" style="font-family:'Montserrat'">
                Church Office Hours
            </h2>
            <p style="font-family:'Montserrat'">
                Tuesday - Thursday : 09:00 AM - 16:00 PM
            </p>
            <p style="font-family:'Montserrat'">
                Friday : 09:00 AM - 13:00 PM
            </p>
            <h2 class="font-weight-bold text-secondary" style="font-family:'Montserrat'">
                Social Media
            </h2>
            <a href="https://www.facebook.com/Empowerment-Ministries-International-806682642758856/?ref=page_internal" >
                <i class="fa fa-facebook-square text-center text-secondary m-2" style="font-size:22pt;"></i>
            </a>
            <a href="https://twitter.com/emichurch?lang=en">
                <i class="fa fa-twitter-square text-center text-secondary m-2" style="font-size:22pt;"> </i>
            </a>
        </div>

        <div class="col-lg-6" style="padding-top:25px;">
            @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
            {
                <form class="form-inline">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "* First Name" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder = "* Surname" })
                    </div>

                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Cellphone, new { @class = "form-control", placeholder = "* Contact Number" })
                    </div>

                    <div class="form-group">

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "* Email Address" })
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control", placeholder = "* Home Address" })
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Subject, new { @class = "form-control", placeholder = "* Subject" })
                    </div>

                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "* Message" })
                    </div>
                    <div class="form-group">
                        <button type="submit" role="button" class="btn btn-lg btn-outline-info">Submit</button>

                    </div>
                </form>

            } @if (!Session["Status"].Equals("empty"))
            {
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">&times;</a>
                    <div class="container text-left text-secondary font-weight-light" style="font-family:'Montserrat'">

                        @Session["Status"]

                    </div>
                </div>
            }
            <div class="p-0">
                @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                {
                    <div class="alert alert-info">
                        <a class="close" data-dismiss="alert">&times;</a>
                        <div class="container text-left text-secondary font-weight-light" style="font-family:'Montserrat'">
                          

                            @if (!ViewData.ModelState.IsValidField(nameof(Model.Name)))
                            {
                                @Html.ValidationMessageFor(x => x.Name)<br />
                            }
                            @if (!ViewData.ModelState.IsValidField(nameof(Model.Email)))
                            {
                                @Html.ValidationMessageFor(x => x.Email)<br />
                            }
                            @if (!ViewData.ModelState.IsValidField(nameof(Model.Cellphone)))
                            {
                                @Html.ValidationMessageFor(x => x.Cellphone)<br />
                            }
                            @if (!ViewData.ModelState.IsValidField(nameof(Model.Subject)))
                            {
                                @Html.ValidationMessageFor(x => x.Subject)<br />
                            }
                            @if (!ViewData.ModelState.IsValidField(nameof(Model.Message)))
                            {
                                @Html.ValidationMessageFor(x => x.Message) <br />
                            }
                            @if (!ViewData.ModelState.IsValidField(nameof(Model.Surname)))
                            {
                                @Html.ValidationMessageFor(x => x.Surname) <br />
                            }
                            @if (!ViewData.ModelState.IsValidField(nameof(Model.Address)))
                            {
                                @Html.ValidationMessageFor(x => x.Address)<br />
                            }


                        </div>
                    </div>
                }
            </div>
        </div> 
    </div> 
</div>

<br />

<div class="d-flex text-white  p-3  justify-content-center" style="padding-top:10px;background-color:#061C3B;">
    <h1 class="font-weight-bold" style="font-family:'Montserrat'">
        Locate Us
    </h1>
</div>


<div class="embed-responsive embed-responsive-16by9">
    <iframe frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=10%20Rhodes%20Avenue%20Oranjesig%20bloemfontein&key=AIzaSyDfmSUlrn06l0h_s9ygbnXezTW6W5GqROg"
            class="embed-responsive embed-responsive-16by9"></iframe>
</div>
