﻿@model EMI.Models.Email
@{
                /**/

                ViewBag.Title = "Homecells";
}

<div class="jumbotron JumboImage text-center text-white ">
    <div class="container" style="padding-top:50px;padding-bottom:50px;">
        <h1 class="font-weight-bold" style="font-family:'Montserrat';font-size:50pt;">
            Homecells
        </h1>

        <h6 class="text-white font-weight-light" style="font-family:'Montserrat';font-size:16pt;">

            Our Connecting Groups are intended to create a platform for the teaching of the Bible. They serve as our Bible Study Groups. In the Connecting Groups we get to personalize Christian fellowship. In the groups group members stand a good a chance of having their personal questions or clarity seeking issues addressed.

        </h6>
    </div>

</div>

<br />
<div class="container justify-content-center text-center">
    <div>

        <h1 class="font-weight-bold text-secondary" style="font-family:'Montserrat';">
            Learn More About Homecells...
        </h1>
    </div>
    <br />
    <p style="font-family:'Montserrat';font-size:14pt;">
        A homecell is a gathering of believers who often meet together for fellowship purposes.
        It is a platform to win,equip and edify people who believe in Christ.
        The gathering normally takes place on a weekly basis and held at appointed places with a designated leader responsible for coordinating the group at large.
    </p>

    <p style="font-family:'Montserrat';">
        The homecell is normally attended in small groups,with the intention of giving social and spiritual support.Nurturing people's gifts into the Kingdom of God.The most important aspect of a Homecell is reading the Bible with an understanding of a practical approach because the Bible is the book of life,meaning we have to live it.
    </p>
    <p style="font-family:'Montserrat';">

        The Homecell provides a place for new believers to grow in Christ likeness,learning to possess character and qualities such as humility,serving and forgiveness.It also serves as an empowering tool for our people who have lost hope and feel like they do not have a purpose in life,we strive to strengthen and care for one another,through the will of God,we know nothing can defeat us.
    </p>

    <div class="row">
        <div class="col-sm-4 p-2">
            <img src="~/Images/homecell_like.jpg" class="rounded-circle" width="250" height="250" alt="Image Loading..." />
        </div>
        <div class="col-sm-4 p-2">
            <img src="~/Images/pastorss.jpg" class="rounded-circle" width="250" height="250" alt="Image Loading..." />
        </div>
        <div class="col-sm-4 p-2">
            <img src="~/Images/gathering.jpg" class="rounded-circle" width="250" height="250" alt="Image Loading..." />
        </div>
    </div>
    <br />

    <h1 class="font-weight-bold text-secondary" style="font-family:'Montserrat';">
        Want To Join A Homecell?
    </h1>
    <p class="font-weight-light" style="font-family:'Montserrat';">
        Anybody can join a Homecell close to their neighbourhood,kindly fill in the below form and you will be contacted by our admin team shortly.
    </p>


    <div class="container-fluid p-3" style="border:1px solid black;">

        <h3 class="font-weight-bold text-secondary" style="font-family:'Montserrat';">
            Contact Us Now
        </h3>

        <div class="row text-center justify-content-center text-secondary">
            <div class="col-sm-3">
                <i class="fa fa-phone"></i> <b>051 430 2110</b>
            </div>
            <div class="col-sm-3">
                <i class="fa fa-envelope">
                </i> <b>info@emichurch.org.za</b>
            </div>

            <div class="col-sm-3">
                <i class="fa fa-map-marker"></i> <b>10 Rhodes Avenue</b>
            </div>
        </div>
        <h5 class="font-weight-light text-secondary p-4" style="font-family:'Montserrat';">
            Alternatively you can opt to fill in the below form,our admin team will capture your information and identify the most closest homecell on your behalf.While filling in the form,please ensure you have entered all the required details correctly.
        </h5>
        <div class="container">
            @using (Html.BeginForm("Homecells", "Home", FormMethod.Post))
            {
                <form>
                    <div class="form-row p-2 justify-content-center text-center">
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", style = "margin:3px;", placeholder = "* Name" })
                        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", style = "margin:3px;", placeholder = "* Surname" })
                    </div>
                    <div class="form-row p-2 justify-content-center text-center">
                        @Html.TextBoxFor(x => x.Cellphone, new { @class = "form-control", style = "margin:3px;", placeholder = "* Cellphone" })
                        @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control", style = "margin:3px;", placeholder = "* Email Address" })
                    </div>
                    <div class="form-row p-2 justify-content-center text-center">
                        @Html.TextAreaFor(x => x.Message, new { @class = "form-control", style = "margin:3px;", placeholder = "* Message" })
                        @Html.TextAreaFor(x => x.Address, new { @class = "form-control", style = "margin:3px;", placeholder = "* Address" })
                    </div>
                    <div class="form-row p-2 justify-content-center text-center">
                        <button type="submit" role="button" class="btn btn-lg btn-outline-info"><i class="fa fa-arrow-circle-right"></i>Submit</button>
                    </div>
                </form>
            }
            @if (!Session["Status"].Equals("empty"))
            {
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">&times;</a>
                    <div class="container text-left text-secondary font-weight-light" style="font-family:'Montserrat'">

                        @Session["Status"]

                    </div>
                </div>
            }
            <div class="p-0">
                @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                {
                    <div class="alert alert-info">
                        <a class="close" data-dismiss="alert">&times;</a>
                        <div class="container text-left text-secondary font-weight-light" style="font-family:'Montserrat'">

                            @if (!ViewData.ModelState.IsValidField(nameof(Model.Surname)))
                            {
                                @Html.ValidationMessageFor(x => x.Surname)<br />
                            }
                            @if (!ViewData.ModelState.IsValidField(nameof(Model.Name)))
                            {
                                @Html.ValidationMessageFor(x => x.Name)<br />
                            }
                            @if (!ViewData.ModelState.IsValidField(nameof(Model.EmailAddress)))
                            {
                                @Html.ValidationMessageFor(x => x.EmailAddress)<br />
                            }
                            @if (!ViewData.ModelState.IsValidField(nameof(Model.Cellphone)))
                            {
                                @Html.ValidationMessageFor(x => x.Cellphone)<br />
                            }
                            @if (!ViewData.ModelState.IsValidField(nameof(Model.Address)))
                            {
                                @Html.ValidationMessageFor(x => x.Address)<br />
                            }
                            @if (!ViewData.ModelState.IsValidField(nameof(Model.Message)))
                            {
                                @Html.ValidationMessageFor(x => x.Message)
                            }


                        </div>
                    </div>
                }
            </div>
        </div>

    </div>

    <br />

</div>