﻿@{
    ViewBag.Title = "Home";
}

<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>

        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide" src="~/Images/banner_2.png" alt="First slide">
                <div class="container">
                    <div class="carousel-caption text-left">

                        <img class="img-fluid" src="~/Images/EMI LOGO.png" />

                        <p class="font-weight-bold">
                            Transforming people,bulding nations and changing the world through the word.
                        </p>
                        <p>
                            <a class="btn btn-lg btn-outline-info" href="@Url.Action("About","Home")" role="button">

                                <i class="fa fa-info-circle"> </i> <b>Find Out More </b>

                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item justify-content-center">
                <img class="second-slide img-fluid" src="~/Images/banner_2.png" alt="Second slide" />
                <div class="container">
                    <div class="carousel-caption">

                        <img class="img-fluid " src="~/Images/EMI LOGO.png" />

                        <h1 class="font-weight-bold">Join Us This Sunday</h1>
                        <p class="font-weight-bold">
                            Sesotho Service : 09:00 AM - 10:00 AM
                        </p>
                        <p class="font-weight-bold">
                            Main Service : 10:10 AM - 12:30 AM
                        </p>
                        <p class="font-weight-bolder">
                            Jeans and Sneakers : 17:00 PM - 18:30 PM
                        </p>


                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <img class="third-slide" src="~/Images/banner_2.png" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption justify-content-center ">
                        <img class="p-2 img-fluid" src="~/Images/EMI LOGO.png" />
                        <h1 class="font-weight-bold">Become A Servant Of God</h1>
                        <p class="font-weight-bold">
                            Be part of any of our ministries and serve your purpose...
                        </p>
                        <br />
                        <p>
                            <a class="btn btn-lg btn-outline-info" href="@Url.Action("Ministries","Home")" role="button">

                                <i class="fa fa-info-circle"> </i> <b>Find Ministry </b>

                            </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</main>

<div class="d-flex p-3 justify-content-center text-center" style="margin-top:2px;padding-top:3px;">
    <div class="container-fluid text-center justify-content-center">
        <h1 class="font-weight-bold text-secondary text-center" style="font-family:'Montserrat'">
            Empowerment Ministries International
        </h1>

        <p class="text-secondary text-center" style="font-family:'Montserrat';font-size:16pt;">
            We are a 3-D purpose driven church with a heart for winning souls for Jesus Christ.<br />A church with a global outlook striving for diversity, inclusivity and collectivity.<br />We aim to raise leaders with a view to make them change agents, impacting the world in the kingdom way.
        </p>
        <div class="row p-3 justify-content-center" style="padding-bottom:10px;margin:0px;">

            <div class="col-lg-3 p-2">
                <img src="~/Images/Pastor K latest.jpg" class="img img-thumbnail" />
            </div>
            <div class="col-lg-3 p-2">
                <img src="~/Images/Pastor T_2.jpg" class="img img-thumbnail" />
            </div>
            <div class="col-lg-3 p-2">
                <img src="~/Images/Pastor Ray Latest.jpg" class="img img-thumbnail" />
            </div>
            <div class="col-lg-3 p-2">
                <img src="~/Images/Harvest2020.jpg" class="img img-thumbnail" />
            </div>
        </div>
    </div>
</div>

<br />


<div class="container">

    <hr />

    <div class="row" style="padding-bottom:5px;">
        <div class="col-md-5">
            <img class="img-fluid " src="~/Images/senior_pastors.jpg" alt="Generic Placeholder Image">
        </div>
        <div class="col-md-7">
            <h2 class="text-left text-secondary">Meet Our Senior Pastors - <span class="font-weight-light">They are driven by a deep zeal and passion to accomplish God’s will.</span></h2>
            <p class="text-left" style="font-family:Montserrat;font-size:13pt;">
                Our mission is to establish a church that makes people globally significant through empowerment, evangelism, discipleship, social engagement, intercessory prayer and apostolic government.
            </p>
            <br />
            <p class="pull-left text-left">
                <a class="btn btn-md btn-outline-dark font-weight-bold" href="@Url.Action("About","Home")" role="button">
                    <i class="fa fa-info-circle"> </i>
                    More Info
                </a>
            </p>
        </div>

    </div>

    <br />

    <hr />
    <br />
    <div class="row">
        <div class="col-md-7">
            <h2 class="text-left text-secondary">Become Part Of A Connecting Group - <span class="font-weight-light">Empower yourself by joining a homecell</span></h2>
            <p class="text-left" style="font-family:'Montserrat'">
                Our Connecting Groups are intended to create a platform for the teaching of the Bible. They serve as our Bible Study Groups. In the Connecting Groups we get to personalize Christian fellowship. In the groups members stand a good a chance of having their personal questions or clarity seeking issues addressed.
            </p>
            <p class="pull-left">
                <a class="btn btn-md btn-outline-dark font-weight-bold" href="@Url.Action("Homecells","Home")" role="button">
                    <i class="fa fa-info-circle"> </i>
                    More Info
                </a>
            </p>
        </div>
        <div class="col-md-5 ">
            <img class="img-fluid" src="~/Images/homecell_like.jpg" alt="Generic placeholder image">
        </div>
    </div>
    <br />
    <hr />
    <div class="row" style="padding-bottom:5px;">
        <div class="col-md-5">
            <img class="img-fluid" src="~/Images/discipleship_now.jpg" style="height:350px;"  alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
            <h2 class="text-left text-secondary">
                We Have Audio Sermons Just For You - <span class="font-weight-light">
                    Empower yourself through listening
                </span>
            </h2>
            <p class="text-left" style="font-family:'Montserrat'">
                Listen to the teachings of our father and see how your life will be impacted...for we believe that the word of God not only instructs but changes and heals a person in all ways.
            </p>
            <p class="pull-left text-left">
                <a class="btn btn-md btn-outline-dark font-weight-bold" href="@Url.Action("Sermons","Home")" role="button">
                    <i class="fa fa-play-circle"> </i>
                    Play Sermons
                </a>
            </p>
        </div>

    </div>
    <hr>

    <br />

</div>

<div class="jumbotron JumboImage_Two text-white text-center">
    <div class="container text-center justify-content-center  font-weight-bold text-white">

        <div class="container font-weight-bold">
            <h1 style="font-family:'Montserrat';color:white;">
                Empowerment Ministries International
            </h1>
            <h3 class="font-weight-lighter" style="font-family:'Montserrat';color:white;">
                A Church In Many Locations
            </h3>
            <h4 class="" style="font-family:'Montserrat';color:white;">
                EMI has several branches each serving in a different area and community.<br /> We strive to be diverse as possibly as we can in order to win more souls.
            </h4>
        </div>
    </div>

    <div class="row text-white font-weight-bold p-3">

        <div class="col-md-6 p-1">
            <div class="card" style="background-color:#061C3B;">
                <div class="card-body">
                    <h1> Theunissen</h1>
                    <p class="card-text"> Contact: 082 699 2052</p>
                    <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='http://maps.google.com?q=4%20Pienaar%20Avenue%20Theunissen'">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>

        </div>
        <div class="col-md-6 p-1">
            <div class="card" style="background-color:#061C3B;">
                <div class="card-body">
                    <h1> UFS </h1>
                    <p class="card-text"> Contact: 051 430 2110</p>
                    <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='http://maps.google.com?q=205%20Nelson%20Mandela%20Drive'">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-1">
            <div class="card" style="background-color:#061C3B;">
                <div class="card-body">
                    <h1> Sterkspruit </h1>
                    <p class="card-text"> Contact: 074 794 0357</p>
                    <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='http://maps.google.com?q=Kromspruit'">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-1">
            <div class="card" style="background-color:#061C3B;">
                <div class="card-body">
                    <h1>Lady Grey </h1>
                    <p class="card-text"> Contact: 082 699 2052</p>
                    <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='http://maps.google.com?q=Khwezi%20Naledi%20Lady%20Grey'">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-1">
            <div class="card" style="background-color:#061C3B;">
                <div class="card-body">
                    <h1> Zastron </h1>
                    <p class="card-text">Contact: 071 035 7183</p>
                    <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='http://maps.google.com?q=Zastron%20Municipality'">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-1">
            <div class="card" style="background-color:#061C3B;">
                <div class="card-body">
                    <h1> Bloemfontein </h1>
                    <p class="card-text">Contact: 051 430 2110</p>
                    <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='https://maps.google.com?q=10%20Rhodes%20Avenue%20Orajensig%20Bloemfontein%209300'">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-1 justify-content-center text-center">

            <div class="card justify-content-center" style="background-color:#061C3B;">
                <div class="card-body">
                    <h1> CUT </h1>
                    <p class="card-text"> Contact: 051 430 2110</p>
                    <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='https://maps.google.com?q=20%20President%20Brand%20Bloemfontein%20Central'">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-1 justify-content-center text-center">

            <div class="card justify-content-center" style="background-color:#061C3B;">
                <div class="card-body">
                    <h1> Bergman </h1>
                    <p class="card-text"> Contact: 051 430 2110</p>
                    <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='https://maps.google.com?q=20%20President%20Brand%20Bloemfontein%20Central'">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-1 justify-content-center text-center">

            <div class="card justify-content-center" style="background-color:#061C3B;">
                <div class="card-body">
                    <h1> Welkom </h1>
                    <p class="card-text"> Contact: 081 793 4755</p>
                    <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='https://maps.google.com?q=20%20President%20Brand%20Bloemfontein%20Central'">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-1 justify-content-center text-center">

            <div class="card justify-content-center" style="background-color:#061C3B;">
                <div class="card-body">
                    <h1> Lesotho </h1>
                    <p class="card-text"> Contact: 081 373 2506</p>
                    <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='https://maps.google.com?q=20%20President%20Brand%20Bloemfontein%20Central'">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>





<div class="jumbotron justify-content-center text-center bg-transparent">


    <div class="container">
        <p class="font-weight-light text-secondary" style="font-size:14pt;">
            Empowerment Ministries International is a church founded by Pastor Motsamai Kareli late 2005,at that time the church was still small and only had a few congregants.Today the church has several branches across the country and two satelite campus ministries around Bloemfontein.

            <br />
            <br />

            EMI is currently based in Bloemfontein in the Free State province under the leadership of Pastor MB Kareli.

            <br />
            <br />

            We have just acquired our first building in 2018 and we are happy that God is with us through this journey of winning and saving souls.

            <br />
            <br />

            EMI aims to bring more souls to God for restoration and discipleship. We continuosly strive to empower God’s people through the teaching and preaching of the word of God.
        </p>

        <div class="row text-center justify-content-center">

            <div class="col-md-4">
                <img src="~/Images/cross_mission_mi.jpg" class="rounded-circle" width="250" height="250" />
                <p class="font-weight-light p-1 text-secondary" style="color:#061C3B;font-family:sans-serif;">
                    OUR MISSION
                </p>

                <p class="font-weight-light text-secondary" style="font-size:14pt;">
                    Transforming people,building nations and changing the world through the word.
                </p>

            </div>

            <div class="col-md-4">
                <img src="~/Images/cross_believe.jpg" class="rounded-circle" width="250" height="250" />

                <p class="font-weight-light p-1 text-secondary text-uppercase" style="color:#061C3B;font-family:sans-serif;">
                    STATEMENT OF FAITH
                </p>

                <p class="font-weight-light text-secondary" style="font-size:14pt;">
                    EMI believes that all Scripture , as contained in both the Old and New Testaments of the Bible, is the inerrant and inspired Word of God that reveals God’s plan for the salvation of man, and God’s divine will and final authority for all Christian faith and life
                </p>
            </div>

            <div class="col-md-4">
                <img src="~/Images/cross_vision.jpg" class="rounded-circle" width="250" height="250" />
                <p class="font-weight-light p-1 text-secondary" style="color:#061C3B;font-family:sans-serif;">
                    OUR VISION
                </p>
                <p class="font-weight-light text-secondary" style="font-size:14pt;">
                    Empowering God's people and advancing the Kingdom of God.

                </p>
            </div>


        </div>

        <div class="container p-3">
            <button type="submit" class="btn btn-md btn-outline-dark font-weight-bold" onclick="window.location.href='@Url.Action("About", "Home")';">
                <i class="fa fa-info-circle"> </i> Learn More
            </button>


        </div>
    </div>

</div>

<div class="container-fluid text-center justify-content-center" style="background-color:#061C3B;">

    <h1 class="font-weight-bold text-white p-3" style="font-family:sans-serif;">
        Find Out More
    </h1>

    <div class="row text-white justify-content-center text-center font-weight-bolder">

        <div class="col-sm-3">
            <h5>
                <i class="fa fa-phone"></i> 051 430 2110
            </h5>
        </div>
        <div class="col-sm-3">

            <h5>
                <i class="fa fa-map-marker"> </i>
                10 Rhodes Avenue  <br />
                Oranjesig  <br />
                Bloemfontein 9300
            </h5>

        </div>
        <div class="col-sm-3">

            <h5>
                <i class="fa fa-envelope"> </i> info@emichurch.org.za
            </h5>
        </div>
    </div>

    <div class="container p-3">
        <button type="submit" onclick="window.location.href='@Url.Action("Contact","Home")'" class="btn btn-md btn-outline-info font-weight-bold">
            Contact Page
        </button>

    </div>

</div>

<div class="embed-responsive embed-responsive-16by9 p-0" style="padding-top:0px;">
    <iframe frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=10%20Rhodes%20Avenue%20Oranjesig%20bloemfontein&key=AIzaSyDfmSUlrn06l0h_s9ygbnXezTW6W5GqROg"
            class="embed-responsive embed-responsive-16by9"></iframe>
</div>
